<!DOCTYPE html>
<html lang="en">
<head>

    @{
        dynamic Config = new System.Dynamic.ExpandoObject { };
        Config.First = "Ingrid";
        Config.Last = "Hauss";
        Config.Email = "ingridhauss@yahoo.com";
        Config.Phone = "+1-604-720-1460";
        Config.TagLine = "Yoga & Art";
        //
        Config.FullName = Config.First + " " + Config.Last;

    }

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="@Config.FullName @Config.TagLine official site for bookings, classes, retreats, and art gallery." />
    <meta name="keywords" content="yoga, art, retreats, hatha, yin" />

    <title>@Config.FullName | @Config.TagLine</title>

    <link href="@Fingerprint.Tag("/Content/bootstrap.css")" rel="stylesheet" />
    <link href="@Fingerprint.Tag("/Content/site.css")" rel="stylesheet" />
    <!-- Bootstrap -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>



    <div class="container">

        <header class="row">
            <div class="col-md-4">
                <img class="img-responsive" src="images/xs/Energetic-Warrior-2.jpg" />
            </div>
            <div class="col-md-8">
                <h1>@Config.FullName</h1>
                <h2>@Config.TagLine</h2>
            </div>
        </header>

        <div class="row">

            <div class="col-md-4">

                <p class="visible-sm visible-xs">
                    <a href="tel:@Config.Phone">@Config.Phone</a> | <a href="mailto:@Config.Email">@Config.Email</a>
                </p>

                <ul class="nav nav-pills nav-stacked affix" role="tablist">
                    <li><a href="tel:@Config.Phone">@Config.Phone</a></li>
                    <li><a href="mailto:@Config.Email">@Config.Email</a></li>
                    <li><a href="#bookings">Booking</a></li>
                    <li><a href="#classes">Classes</a></li>
                    <li><a href="#retreats">Retreats</a></li>
                    <li><a href="#art">Art</a></li>
                </ul>
            </div>

            <div class="col-md-8">

                <section>
                    <div class="page-header">
                        <h1 id="bookings">Bookings</h1>
                    </div>
                    <div class="row">
                        <div class="col-md-6">

                            <h4>Private Indoor or Outdoor Sessions</h4>
                            <ul class="list-unstyled">
                                <li>Pilates, Yoga, and Restorative</li>
                                <li>Contact @Config.First at @Config.Phone</li>
                                <li>$90 per hour.</li>
                            </ul>

                        </div>
                        <div class="col-md-6">
                            <img class="img-responsive img-rounded img-thumbnail" src="images/xs/urban-yoga.jpg" />
                        </div>
                    </div>
                </section>

                <section>
                    <div class="page-header">
                        <h1 id="classes">Classes</h1>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <h4><a href="http://opendooryoga.bc.ca/">Open Door Yoga</a> <small>Kerrisdale</small></h4>
                            <dl>
                                <dt>Fridays</dt>
                                <dd>4 PM YIN</dd>
                                <dt>Saturdays</dt>
                                <dd>8:30 AM HATHA</dd>
                                <dd>10:15 AM HATHA</dd>
                                <dd>4:15 PM HATHA</dd>
                            </dl>
                            <h4><a href="http://www.semperviva.com/">Semperviva Yoga</a> <small>Sun Centre</small></h4>
                            <dl>
                                <dt>Sundays</dt>
                                <dd>7 PM HATHA</dd>
                            </dl>
                        </div>
                        <div class="col-md-6">
                            <img class="img-responsive" src="images/xs/meditation.jpg" />
                        </div>
                    </div>

                </section>

                <section>
                    <div class="page-header">
                        <h1 id="retreats">Retreats</h1>
                    </div>

                    <div class="row">
                        <div class="col-md-6">

                            <h4>Yoga In-Fusion &trade; on Salt Spring Island</h4>
                            <ul class="list-unstyled">
                                <li>August 22-24, 2014</li>
                                <li>$115 ($50 deposit to reserve)</li>
                                <li>Contact Ingrid to book.</li>
                                <li>With musician Willy Miles-Grenzberg and Ingrid Hauss</li>
                            </ul>

                        </div>
                        <div class="col-md-6">
                            <img class="img-responsive" src="images/xs/island-reverie.jpg" />
                        </div>

                    </div>

                </section>

                <section>
                    <div class="page-header">
                        <h1 id="art">Art <small>Coming Soon</small></h1>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-md-3">
                            <a href="#" class="thumbnail">
                                <img data-src="holder.js/100%x180" alt="...">
                            </a>
                        </div>
                        <div class="col-xs-6 col-md-3">
                            <a href="#" class="thumbnail">
                                <img data-src="holder.js/100%x180" alt="...">
                            </a>
                        </div>
                        <div class="col-xs-6 col-md-3">
                            <a href="#" class="thumbnail">
                                <img data-src="holder.js/100%x180" alt="...">
                            </a>
                        </div><div class="col-xs-6 col-md-3">
                            <a href="#" class="thumbnail">
                                <img data-src="holder.js/100%x180" alt="...">
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-md-3">
                            <a href="#" class="thumbnail">
                                <img data-src="holder.js/100%x180" alt="...">
                            </a>
                        </div><div class="col-xs-6 col-md-3">
                            <a href="#" class="thumbnail">
                                <img data-src="holder.js/100%x180" alt="...">
                            </a>
                        </div>
                        <div class="col-xs-6 col-md-3">
                            <a href="#" class="thumbnail">
                                <img data-src="holder.js/100%x180" alt="...">
                            </a>
                        </div>
                        <div class="col-xs-6 col-md-3">
                            <a href="#" class="thumbnail">
                                <img data-src="holder.js/100%x180" alt="...">
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-md-3">
                            <a href="#" class="thumbnail">
                                <img data-src="holder.js/100%x180" alt="...">
                            </a>
                        </div><div class="col-xs-6 col-md-3">
                            <a href="#" class="thumbnail">
                                <img data-src="holder.js/100%x180" alt="...">
                            </a>
                        </div>
                        <div class="col-xs-6 col-md-3">
                            <a href="#" class="thumbnail">
                                <img data-src="holder.js/100%x180" alt="...">
                            </a>
                        </div>
                        <div class="col-xs-6 col-md-3">
                            <a href="#" class="thumbnail">
                                <img data-src="holder.js/100%x180" alt="...">
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-md-3">
                            <a href="#" class="thumbnail">
                                <img data-src="holder.js/100%x180" alt="...">
                            </a>
                        </div><div class="col-xs-6 col-md-3">
                            <a href="#" class="thumbnail">
                                <img data-src="holder.js/100%x180" alt="...">
                            </a>
                        </div>
                        <div class="col-xs-6 col-md-3">
                            <a href="#" class="thumbnail">
                                <img data-src="holder.js/100%x180" alt="...">
                            </a>
                        </div>
                        <div class="col-xs-6 col-md-3">
                            <a href="#" class="thumbnail">
                                <img data-src="holder.js/100%x180" alt="...">
                            </a>
                        </div>
                    </div>
                </section>

            </div>
        </div>

        <footer class="footer">
            <div class="pull-right">
                <span>&copy; Copyright 2014 @Config.FullName</span> |
                <a href="mailto:@Config.Email">@Config.Email</a> |
                <span>Website by </span><a href="http://www.bigfont.ca">BigFont</a>
            </div>
        </footer>

    </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="Scripts/bootstrap.js"></script>
    <script src="Scripts/holder.js"></script>
</body>

</html>