<section>
    <div class="page-header">
        <h1 id="art">Art</h1>
    </div>
    @{
        <div class="img-gallery">
            <div class="row">
                @foreach (var fileInfo in ImageGallery.GetGalleryImages())
                {
                    // the file name pattern must be <title string> <dimension string> cm [SOLD]
                    var imgSrc = ImageGallery.ImgSrc(fileInfo.FullName);
                    var imgTitle = ImageGallery.ImgTitle(fileInfo);
                    var imgDimensions = ImageGallery.ImgDimesions(fileInfo);
                    var isSold = ImageGallery.IsSold(fileInfo);
                    var imgSrcWatermarked = ImageGallery.AddWatermarkToImage(fileInfo);
                    <div class="col-sm-6 col-md-4">
                        <figure class="@(isSold ? "sold" : string.Empty)">
                            <a href="@imgSrcWatermarked">
                                <img class="img-responsive" src="@imgSrcWatermarked" />
                            </a>
                            <figcaption>
                                <ul class="list-unstyled">
                                    <li>@imgTitle</li>
                                    <li>@imgDimensions</li>
                                </ul>
                            </figcaption>
                        </figure>
                    </div>
                }
            </div>
        </div>
    }
</section>