<!DOCTYPE html>
<html lang="en">
<head>
    @{
        var Config = new
        {
            FirstName = "Ingrid",
            LastName = "Hauss",
            Email = "ingridhauss@yahoo.com",
            Phone = "+1-604-720-1460",
            TagLine = "Art & Renewal."
        };
    }
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="@Config.FirstName @Config.LastName @Config.TagLine official site for bookings, classes, retreats, and art gallery." />
    <meta name="keywords" content="yoga, art, retreats, hatha, yin" />
    <title>@Config.FirstName @Config.LastName | @Config.TagLine</title>
    <link href="@Fingerprint.Tag("/Content/favicon.ico")" rel="shortcut icon" />
    <link href="@Fingerprint.Tag("/Content/site.min.css")" rel="stylesheet" />
    <!-- Bootstrap -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    @*IE 10*@
    <style type="text/css">
        @@-webkit-viewport {
            width: device-width;
        }

        @@-moz-viewport {
            width: device-width;
        }

        @@-ms-viewport {
            width: device-width;
        }

        @@-o-viewport {
            width: device-width;
        }

        @@viewport {
            width: device-width;
        }
    </style>
</head>
<body data-spy="scroll" data-target="#site-nav">
    <div class="container">
        <header class="row">
            <div class="col-md-4">
                <img alt="A black and white zen drawing of a stick figure person surrounded by a fire." class="img-responsive" src="images/energetic-warrior-xs.jpg" />
            </div>
            <div class="col-md-8">
                <h1>@Config.FirstName @Config.LastName</h1>
                <h2>@Config.TagLine</h2>
            </div>
        </header>
        <div class="row">
            <div class="col-md-4">
                <p class="visible-sm visible-xs">
                    <a href="tel:@Config.Phone">@Config.Phone</a> | <a href="mailto:@Config.Email">@Config.Email</a>
                </p>
                <div id="site-nav">
                    <ul class="nav nav-pills nav-stacked" role="tablist" data-offset-top="250" data-spy="affix">
                        <li><a href="tel:@Config.Phone">@Config.Phone</a></li>
                        <li><a href="mailto:@Config.Email">@Config.Email</a></li>
                        <li><a href="#bookings">Bookings</a></li>
                        <li><a href="#classes">Classes</a></li>
                        <li>
                            <a href="#renewal">Mind &amp; Body Renewal</a>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="#yogathedral">Yogathedral<sup>&trade;</sup> Walks</a></li>
                                <li><a href="#retreats">Retreats</a></li>
                                <li><a href="#yoga-tales">Yoga Tales<sup>&trade;</sup></a></li>
                            </ul>
                        </li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#art">Art</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8">
                <section>
                    <div class="page-header">
                        <h1 id="bookings">Bookings</h1>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <h4>Private Indoor or Outdoor Sessions</h4>
                            <ul class="list-unstyled">
                                <li>Pilates, Yoga, and Restorative</li>
                                <li>Contact @Config.FirstName at @Config.Phone</li>
                            </ul>
                            <h4>Rate</h4>
                            <ul class="list-unstyled">
                                <li>$90 per hour for group size of 5 persons. </li>
                                <li>For larger groups inquire for rate with Ingrid.</li>
                            </ul>
                            <h4>
                                Introductory Special
                            </h4>
                            <p>First class at $90 per hour for all group sizes.</p>
                        </div>
                        <div class="col-sm-6">
                            <img alt="Four women practicing yoga outside on the grass. There is a blue sky, green trees, and a beautiful fence around the practice area." class="img-responsive img-rounded img-thumbnail" src="images/urban-yoga-xs.jpg" />
                        </div>
                    </div>
                </section>
                <section>
                    <div class="page-header">
                        <h1 id="classes">Classes</h1>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <h4><a href="http://opendooryoga.bc.ca/">Open Door Yoga</a> <small>Kerrisdale</small></h4>
                            <dl>
                                <dt>Fridays</dt>
                                <dd>4 PM YIN</dd>
                                <dt>Saturdays</dt>
                                <dd>8:30 AM HATHA</dd>
                                <dd>10:15 AM HATHA</dd>
                                <dt>Sundays</dt>
                                <dd>4:15 PM HATHA</dd>
                            </dl>
                            <h4><a href="http://www.semperviva.com/">Semperviva Yoga</a> <small>Sun Centre</small></h4>
                            <dl>
                                <dt>Sundays</dt>
                                <dd>7 PM HATHA</dd>
                            </dl>
                        </div>
                        <div class="col-md-6">
                            <img alt="A zen style drawing of a thin curve with a tiny red ball that appears to be rolling just up one side." class="img-responsive img-rounded img-thumbnail" src="images/meditation-xs.jpg" />
                        </div>
                    </div>
                </section>
                <section>
                    <div class="page-header">
                        <h1 id="renewal">Mind &amp; Body Renewal</h1>
                    </div>
                    <div>
                        <p>Mind &amp; Body Renewal classes are for people who are seeking to deepen and relax into the contemplative dimension of their lives through yoga, conscious breathing and restorative relaxation. Gentle yoga stretches, yoga postures and breathing exercises are introduced as a path for relaxation, stress reduction and renewal for body and mind.</p>
                        <p>Bookings as workshops, retreat or class-series for private, corporate and educational organizations.</p>
                        <p>More information about fees see under <a href="#bookings">"Bookings"</a>.</p>
                    </div>
                    <section>
                        <h2 id="yogathedral">Yogathedral<sup>&trade;</sup> Walks</h2>
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                Yogathedral<sup>&trade;</sup> Dates for Fall 2015
                            </div>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <h4>
                                                Where?
                                            </h4>
                                            <p>Bowen Island, B.C.</p>
                                            <p>Meet at Snug Cove Ferry Terminal</p>
                                        </div>
                                        <div class="col-md-4">
                                            <h4>
                                                When?
                                            </h4>
                                            <p>Monthly Saturdays, 3 - 4:30 PM</p>
                                            <ul>
                                                <li>October 3, 2015</li>
                                                <li>November 7, 2015</li>
                                                <li>December 5, 2015</li>
                                            </ul>
                                        </div>
                                        <div class="col-md-4">
                                            <h4>What?</h4>
                                            <p>Renewal through mindful movement and meditation in nature.</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p>
                                                <img class="img-responsive img-thumbnail" src="~/images/yogathedral-fall-2015-xs.jpg" />
                                            </p>
                                        </div>
                                        <div class="col-md-6">
                                            <h4>How much?</h4>
                                            <p>Preregistration: $25</p>
                                            <p>Fee includes:</p>
                                            <p>75 minutes of yoga, breathing awareness and renewal techniques + guided movement meditation in nature, our shuttle service, if required from and to Yogathedral's walk on the island and a delicious vegetarian soup at the end.</p>
                                            <p>Foot passenger ferry fee or swimming across tolls (:-) from Horseshoe Bay to Snug Cove of $11.95 (return inclusive!) not included.</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h4>How?</h4>
                                            <p>Preregistration required by cheque or cash in person or by postal mail made out to Ingrid Hauss.</p>
                                            <p>Payment is non-refundable, except in case of event's cancelation due to wet weather.</p>
                                            <p>Upon registration: You will receive a letter with a waiver and details regarding travel.</p>
                                        </div>
                                        <div class="col-md-6">
                                            <h4>Mail to</h4>
                                            <address>
                                                Ingrid Hauss, B.A. RYT,<br />
                                                Dipl. VST Spiritual Facilitation and  Coaching.<br />
                                                Studio for Art & Renewal<br /><br />
                                                Dr. Darryl Grigg<br />
                                                Psychological and Consulting Services<br /><br />
                                                #3 - 2025 West 16th Ave<br />
                                                Vancouver, B.C.<br />
                                                V6J 2M6<br />
                                            </address>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h4>Why?</h4>
                                            <p>
                                                Come... as you are and be yourself even more after this powerful renewal experience.
                                            </p>
                                            <p>
                                                Soak and integrate...your soul in green space while consciously immersing in the healing and cleansing qualities of 'wood air bathing' amidst beauty of nature.
                                            </p>
                                            <p>
                                                Steep...in the sounds of waterfalls, streams and breezes while gazing upon wide and spacious vistas of the variable landscapes we are guided through on this renewal experience.
                                            </p>
                                            <p>
                                                Restore...through Yogathedral's unique invitation to renew and recharge in your body and mind.
                                            </p>
                                            <p>
                                                Sharing and Reflection...over soup delight served by Darryl Grigg at the final end of Yogathedral's active component at a special natural site.
                                            </p>
                                        </div>
                                        <div class="col-md-6">
                                            <h4>Why not?</h4>
                                            <p>
                                                live fully<br />
                                                into the why not<br />
                                                by letting this<br />
                                                invitation<br />
                                                be one to you<br />
                                                soul starved or not<br />
                                                to gaze and<br />
                                                take a long loving look<br />
                                                at the real<br />
                                                inside<br />
                                                & out.<br />
                                            </p>
                                            <p>
                                                Ingrid Hauss, August 2015
                                            </p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                Yogathedral Dates for Winter &amp; Summer 2015
                            </div>
                            <div class="panel-body">
                                <ul>
                                    <li>Departure and return to described location, rain or shine!</li>
                                    <li>Saturdays, 3 - 4:15 PM</li>
                                    <li>$25 Drop-In</li>
                                    <li>$75 for Five Sessions</li>
                                    <li>Preregister with Ingrid at ingridhauss@yahoo.com or call 604-720-1460</li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <a href="~/documents/yogathedral.pdf">
                                    <img alt="Waves crashing on the beach and details of the Yogathedral walks." class="img-responsive img-rounded img-thumbnail" src="~/images/yogathedral-xs.jpg" />
                                </a>
                            </div>
                            <div class="col-md-7">
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        Additional Yogathedral Walks in 2015
                                    </div>
                                    <ul class="list-group">
                                        <li class="list-group-item" itemscope itemtype="http://schema.org/Event">
                                            <h4>Saturday February 7, 2015</h4>
                                            <ul>
                                                <li>
                                                    Bowen Island Ferry Terminal, Village at Snug Cove
                                                </li>
                                                <li>Clear AIr Meadows and Meditative Falls</li>
                                            </ul>
                                        </li>
                                        <li class="list-group-item" itemscope itemtype="http://schema.org/Event">
                                            <h4>Saturday March 7, 2015</h4>
                                            <ul>
                                                <li>
                                                    Bowen Island Ferry Terminal
                                                </li>
                                                <li>
                                                    Village at Snug Cove for Yoga
                                                </li>
                                                <li>
                                                    Shuttle to destination
                                                </li>
                                                <li>
                                                    Lake and Roots - Revitalize and Renew!
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="list-group-item" itemscope itemtype="http://schema.org/Event">
                                            <h4>Saturday April 4, 2015</h4>
                                            <ul>
                                                <li>
                                                    UBC Endowments Lands
                                                </li>
                                                <li>
                                                    Meet at University Village (at CIBC, Blenz Coffee, MacDonald)
                                                </li>
                                                <li>
                                                    Wood Air Bathing on UBC Wooden Trail for Deep Contemplation and Renewal.
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="list-group-item" itemscope itemtype="http://schema.org/Event">
                                            <h4>Saturday May 2, 2015</h4>
                                            <ul>
                                                <li>Bowen Island Ferry Terminal</li>
                                                <li>Village at Snug Cove for Yoga</li>
                                                <li>Shuttle to destination</li>
                                                <li>Woods, greens, and waterfalls - Woodair bathe and renew in body and mind</li>
                                            </ul>
                                        </li>
                                        <li class="list-group-item" itemscope itemtype="http://schema.org/Event">
                                            <h4>Saturday June 06, 2015</h4>
                                            <ul>
                                                <li>Salmon Stream at Spanish Banks</li>
                                                <li>Spanish Banks - A Shoreline Cleanse</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section>
                        <h2 id="retreats">Retreats</h2>
                        <div class="row">
                            <div class="col-md-6 col-md-push-6">
                                <img alt="A painting of trees in the wind on the beach." class="img-responsive img-rounded img-thumbnail" src="images/island-reverie-xs.jpg" />
                            </div>
                            <div class="col-md-6 col-md-pull-6">
                                <ul class="list-group">
                                    <li class="list-group-item" itemscope itemtype="http://schema.org/Event">
                                        <h4 itemprop="name">Body Prayer Retreat</h4>
                                        <div itemprop="location" itemscope itemtype="http://schema.org/Place">
                                            <a itemprop="url" href="www.stphilipvictoria.ca">
                                                St Philip Anglican Church
                                            </a>
                                            <address itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                                                <span itemprop="streetAddress">2928 Eastdowne Road</span><br />
                                                <span itemprop="addressLocality">Victoria</span>, <span itemprop="addressRegion">BC</span><br />
                                                <span itemprop="addressCountry">Canada</span><br />
                                            </address>
                                        </div>
                                        <p>
                                            <ul class="list-unstyled">
                                                <li itemprop="startDate" content="2014-09-20">Saturday, September 20, 2014, 4-6PM</li>
                                                <li itemprop="startDate" content="2014-10-18">Saturday, October 18, 2014, 4-6PM</li>
                                            </ul>
                                        </p>
                                        <p itemprop="offers">To Register Contact: office@stphilipvictoria.ca or call Gillian Fosdick at 250-592-6823</p>
                                        <p itemprop="description">Body Prayer is a retreat for people who are seeking to deepen the contemplative dimension of their spiritual life through the practice of yoga and meditation. Gentle yoga stretching, yoga poses and breathing exercises are introduced as a path for relaxation, rejuvenation and stress reduction.</p>
                                    </li>
                                    <li class="list-group-item" itemscope itemtype="http://schema.org/Event">
                                        <h4>
                                            <span itemprop="name">Yoga In-Fusion &trade;</span>
                                        </h4>
                                        <p itemprop="location">Salt Spring Island, BC</p>
                                        <p itemprop="startDate" content="2014-08-22">August 22-24, 2014</p>
                                        <p itemprop="offers">$115 ($50 deposit to reserve)</p>
                                        <p itemprop="offers">Contact Ingrid to book.</p>
                                        <p itemprop="description">Music by Willy Miles-Grenzberg. Yoga instruction by Ingrid Hauss.</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </section>
                    <section>
                        <h2 id="yoga-tales">
                            Yoga Tales<sup>&trade;</sup>
                        </h2>
                        <div class="row">
                            <div class="col-md-6 col-md-push-6">
                                <a href="~/documents/yoga-tales.pdf">
                                    <img alt="A collection of toy animals on the cut stump of a tree." class="img-responsive img-rounded img-thumbnail" src="~/images/yoga-tales-xs.jpg" />
                                </a>
                            </div>
                            <div class="col-md-6 col-md-pull-6">
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        Yoga for ages 7 - 11
                                    </div>
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <p>Tuesdays 3:30 - 4:30 PM, 2015</p>
                                            <ul>
                                                <li>February 17</li>
                                                <li>March 17</li>
                                                <li>April 21</li>
                                                <li>May 19</li>
                                                <li>June 03</li>
                                            </ul>
                                        </li>
                                        <li class="list-group-item">
                                            <p>Rates and Registration</p>
                                            <ul>
                                                <li>$25 Drop In Fee</li>
                                                <li>$75 For Five Classes</li>
                                            </ul>
                                        </li>
                                        <li class="list-group-item">
                                            <ul>
                                                <li>At Ganges Yoga Studio with Ingrid Hauss</li>
                                                <li>
                                                    Preregistration with payment at Ganges Yoga Studio 250-537-4658
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10 col-md-push-1">
                                <p>
                                    We have stories to tell of how to...</>
                                    <ul class="list-inline list-yoga-tales">
                                        <li class="label label-primary">concentrate</li>
                                        <li class="label label-info">crawl</li>
                                        <li class="label label-warning">breathe slower</li>
                                        <li class="label label-info">rise after falling</li>
                                        <li class="label label-success">be courageous</li>
                                        <li class="label label-warning">face challenges</li>
                                        <li class="label label-success">be tall like mountains</li>
                                        <li class="label label-danger">and free as an eagle</li>
                                    </ul>
                            </div>
                        </div>
                    </section>
                </section>
                <section>
                    <div class="page-header">
                        <h1 id="about">About</h1>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <img class="img-responsive img-thumbnail" src="/images/about-me-log-10x10-xs.jpg" alt="This is a placeholder image.">
                        </div>
                        <div class="col-sm-6">
                            <h4>@Config.FirstName @Config.LastName</h4>
                            <p>
                                Ingrid is a certified yoga and pilates teacher, artist and spiritual director who teaches yoga, meditation and body prayer. She offers workshops, retreats and art-installations in yoga, art and contemplative spirituality in the United States, Europe and Canada.
                            </p>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="page-header">
                        <h1 id="art">Art</h1>
                    </div>
                    @{
                        <div class="img-gallery">
                            <div class="row">
                                @foreach (var fileInfo in ImageGallery.GetGalleryImages())
                                {
                                    // the file name pattern must be <title string> <dimension string> cm [SOLD]
                                    var imgSrc = ImageGallery.ImgSrc(fileInfo.FullName);
                                    var imgTitle = ImageGallery.ImgTitle(fileInfo);
                                    var imgDimensions = ImageGallery.ImgDimesions(fileInfo);
                                    var isSold = ImageGallery.IsSold(fileInfo);
                                    var imgSrcWatermarked = ImageGallery.AddWatermarkToImage(fileInfo);
                                    <div class="col-sm-6 col-md-4">
                                        <figure class="@(isSold ? "sold" : string.Empty)">
                                            <a href="@imgSrcWatermarked">
                                                <img class="img-responsive" src="@imgSrcWatermarked" />
                                            </a>
                                            <figcaption>
                                                <ul class="list-unstyled">
                                                    <li>@imgTitle</li>
                                                    <li>@imgDimensions</li>
                                                </ul>
                                            </figcaption>
                                        </figure>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                </section>
            </div>
        </div>
        <footer class="footer">
            <div class="pull-right">
                <span>&copy; Copyright 2014 @Config.FirstName @Config.LastName</span> |
                <a href="mailto:@Config.Email">@Config.Email</a> |
                <span>Website by </span><a href="http://www.bigfont.ca">BigFont</a>
            </div>
        </footer>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
    @*IE 10*@
    <script type="text/javascript">
        if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
            var msViewportStyle = document.createElement('style')
            msViewportStyle.appendChild(
              document.createTextNode(
                '@@-ms-viewport{width:auto!important}'
              )
            )
            document.querySelector('head').appendChild(msViewportStyle)
        }
    </script>
</body>
</html>
